[submodule "rai-robotModels"]
	path = rai-robotModels
	url = https://github.com/MarcToussaint/rai-robotModels.git
[submodule "rai"]
	path = rai
	url = https://github.com/asyncs/rai.git
	branch = sarp
